@font-face {
    font-family: "Badas Neus Regular";
    src: url("../fonts/BebasNeueRegular.otf") format("opentype");
}


.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: black;
    z-index: 1001;
    
  }
  
  .preloader__image {
    position: relative;
    top: 70%;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    text-align: center;
  }

  #loadimg{
      position: absolute;
      top: 10%;
      left: 25%;
      width: 50%;
  }

  #loading{
      animation: 2s linear 0s normal none infinite running rot;
  }

  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	font-family: "Badas Neus Regular";
}

.header{
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 100;
    height: 74px;
}	
.item{
    margin-top: 20px;
}

#main:before {
    content: '';
    background-image: url(../img/back.png);
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

ul{
    margin: 5px;
    padding: 0px;
}

#block-for-slider {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 6);
    transition: 1s;
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper {
    position: relative;
    display: flex;
    transform: translateX();
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    list-style: none;
    display: inline;
}

.slide-img {
    width: 105%;
}



#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
    opacity: 1;
}

#prev-btn{
    left:20px;
}

.slider{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 70px;
    top: calc(50% - 35px);
    background: tomato;
  }

  .slider::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

#prev-btn::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}

#next-btn {
    right: 20px;
}

#next-btn::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

.active{
    background: tomato;
}

.LogoType{
    width: 30%;
    margin-top: 300px;
    margin-bottom: 40px;
}


.list{
    transition: 0.5s;
    text-decoration: none; 
    color: grey;
    font-size: 23px;
}

.list:hover{
    color: white;
    text-decoration: none;
}


.logo{
    width: 60px;
    height: 60px;
    transition: 2s;
}

 .logo:hover{
    filter: brightness(10);
} 


.flex-conteiner  li{
	list-style: none;
}

.phone{
    color: white;
    margin-left: 20px;
    margin-top: 13px;
}

#Abt{
    background-color: white;
}

#media{
    display: none;
}

#Abt h2{
    font-size: 300%;
    text-align: center;
    margin:0;
    padding-bottom: 40px;
}


#Abt h1{
    text-align: center;
    padding-top: 80px;
    font-size: 600%;
    margin: 0px;
}



.RecButt{
    transition: 0.5s;
    outline:none;
    font-size: 23px;
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
    margin-right: 20px;
    color:black;
    background-color:white;
    border:none;
    font-family: "Badas Neus Regular";
    margin-top:13.2px;
    border-style: solid; 
    border-width: 2px;
    border-color: white;
}

.RecButt:hover{
    background-color:tomato;
    color:white;
    cursor: pointer;
    border-color: white;
}


.flex-conteiner{
    display:flex;
    justify-content: space-between;
}

#log, #log_1{
    text-align: center;
}

.log_Butt{
    outline:none;
    font-size: 30px;
    border-width: 3px;
    padding: 5px 30px 5px 30px;
    background-color: white;
    border-color: white;
    margin-right: 20px;
    border-style: solid;
    font-family: "Badas Neus Regular";
    text-decoration: none;
    color:#c52d2f;
    transition: 0.5s;
    margin-bottom: 200px;
}

.log_Butt:hover{
    color:white;
    background-color: #c52d2f;
    cursor: pointer;
}

#Service, #Team, #Contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#Service h1, #Team h1, #Contacts h1{
    color: white;
    font-size: 7vw;
}


#PriceList{
    width: 65%;
    margin: 0 auto;
    font-size: 40px;
}

#PriceList ul{
    list-style: none;
    margin: 0;
}

#PriceList ul li{
    padding: 20px;
}

#PriceList ul .spanline{
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
    position: inherit;
}


table.text  {
    width:  100%;
    border-spacing: 0;
}

table.text td, td.right { 
    width: 70%;
    vertical-align: top; 
}

td.right { 
    text-align: right; 
}

.stock{
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color:red;
    font-family: 'Roboto', sans-serif;
    line-height: 0.8;
}

.newprice{
    color: red;
}


#TeamList{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.barber{
    width: 30%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#TeamList a{
    font-size: 40px;
    color: black;
    text-decoration:none;
    text-transform: uppercase;
    transition: 0.5s;
}

#TeamList a:hover{
    color: tomato;
}

.barber img{
    width: 50%;
    height: auto;
    border-radius: 50%;
}


#ContMenu ul{
    list-style:none;
    display:flex;
    justify-content: center;
    margin: 0;
}

#ContMenu li{
    width: 50%;
}


iframe{
    width: 100%;
    height: 100%;
}


#info h1{
    text-align: center;
    font-size:3vw;
    padding-top: 30px;
}


#info #contacts{
    padding-left: 80px;
}

#SocNet{
    display:flex;
    justify-content:center;
    padding-bottom: 50px;
}

#SocNet i{
    padding: 0 15px;
    opacity: 0.5;
}

#SocNet i:hover{
    opacity: 1;
    transition:0.5s;
}


footer{
    display:flex;
    justify-content: center;
    text-align: center;
}

footer span{
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: black;
    display:block;
}

footer div{
    width: 60%
}

footer p{
    font-size:20px;
    margin-bottom: 20px;
}

#abs{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 65px;
    height: 65px;
    z-index:500;
    background-color: grey;
    opacity: 0.3;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}


#abs img{
    width: 45px;
    height: 30px;
    transform: translateY(2px);
}

#abs:hover{
    opacity: 1;
    transition: 0.5s;
}

#maps{
    height: auto;
}


@media (max-width: 767px){



 body
 {
   margin: 0;
   padding: 0;
 }

#loadimg{
    width: 80%;
    left: 10%;
}


#main:before {
    content: '';
    background-image: url(../img/Mob.jpg);
    background-size: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

 #media{
     display: inline;
 }



 .LogoType{
    width: 50%;
}

 .header{
     display: none;
 }

 #menuToggle
 {
   display: block;
   position: relative;
   -webkit-user-select: none;
   user-select: none;
 }

 .link
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 .link:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 28px;
   position: absolute;
   top: 33px;
   left: -5px;
   margin-left: 40px;
   
   cursor: pointer;
   
   opacity: 0;
   z-index: 2;
   
   -webkit-touch-callout: none;
 }

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   margin-left: 40px;
   position: inherit;
   background: black;
   border-radius: 3px;
   top: 35px;
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }

 
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }

 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 .RecBut{
     background: black;
     border-radius: 15px;
     font-size: 22px;
     color: white;
     font-family: "Badas Neus Regular";
     outline:none;
     border-style: solid;
     padding: 10px 40px 10px 40px;
     height: 55.4px;
 }

 .RecBut:hover{
    border-color: tomato;
    color: tomato;
    transition: 0.5s;
    cursor: pointer;
}

.log_Butt{
    height: auto;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0;
}

#MobLog{
    width: 40%;
}

#menuToggle ul li span{
    margin: 5%;
    background-color: black;
    width: 90%;
    height: 1px;
}

#logoMob{
    width: 60px;
    height: 60px;
    transition: 0.5s;
}

 #menu
 {
   position: absolute;
   width: 100%;
   margin: -100px 0 0 0;
   padding-bottom: 50px;
   padding-top: 45px;
   background: #ededed;
   list-style-type: none;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   top: 80px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

#reservation{
    text-align: center;
    font-size: 22px;
}

.List
 {
   text-align: center;
   padding: 20px 0;
   font-size: 22px;
 }

 #LogoList
 {
   text-align: center;
   padding: 20px 0;
   font-size: 22px;
 }

 .FirstList
 {
   text-align: center;
   padding-top: 20px;
   
   font-size: 22px;
 }

 .list
 {
   text-align: center;
   padding: 0;
 }

 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 #block-for-slider {
    width: 95%;

}

 .slider{
    width: 30px;
    height: 35px;
    top: calc(50% - 17.5px);
  }

  .slider::before{
    width: 20px;
    height: 20px;
  }

#Service h1, #Team h1, #Contacts h1{
    font-size: 15vw;
}
.stock{
    line-height: 1;
}

#PriceList{
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
}
	
	
#PriceList ul li p span {
    font-size: 15px !important;
} 


.barber{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#TeamList a{
    font-size: 50px;
    text-transform: uppercase;
}

#ContMenu ul{
    flex-wrap:wrap;
}

#ContMenu li{
    width: 100%;
}

#info #contacts{
    padding-left: 30px;
}

#contacts p, #contacts i{
    font-size: 15px;
}

#info h1{
    font-size: 10vw;
}

#info{
    order:1;
}

#maps{
    order:2;
    height: 350px;
}

#abs{
    bottom: 30px;
    right: 30px;
}

}
